// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
 letter-spacing: -.5px;
}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {
  &:hover{
    text-decoration: none;
  }

  @include hover {

  }
}


// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

canvas {
  opacity: .7;
}

strong, b {
	font-weight: bold;
	
}

small {

}
