

.voltar-btn {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    color: #ebebeb !important;
    display: block;
    z-index: 100;
    height: 51px;


    .voltar-icon{
        display: block;
        position: absolute;
        width: 28px;
        height: 51px;
        bottom: 0px;
        left: 20px;
        
        

        transition:all .333s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-image: url("data:image/svg+xml,%3Csvg width='28px' height='51px' viewBox='0 0 28 51' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Escrolldown-bt%3C/title%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD' transform='translate(-626.000000, -916.000000)' fill='%23EF453E'%3E%3Cpolygon id='scrolldown-bt' transform='translate(640.000000, 941.904788) rotate(90.000000) translate(-640.000000, -941.904788) ' points='660.62308 928 639.933715 953.602177 619.24435 928 615 928 637.811189 955.809576 642.055539 955.809576 665 928'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    strong {
        position: absolute;
    top: 13px;
    left: 0;
        transition:all .333s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 3;
        transform: translate(10px,0);
        opacity: 0;
    }

    &:hover .voltar-icon {
        color: $dark !important;
        transform: translate(-45px,0);
    }
    &:hover strong {
        color: $primary !important;
        transform: translate(0,0);
        opacity: 1;
    }
}

.news-letter {
    background-attachment: fixed;
    background-size: 900px !important;
}

.email-campo-news {
    max-width: 360px;
}