// Page: Content
// HomePage     ----------------------------------------------------------------
// -----------------------------------------------------------------------------

.showcase-img {
    img {
        max-height: 500px;
    }

}

@include media-breakpoint-down(lg) { 
    .title-separator {
        padding: 0 20px !important;
    }
    .title-separator::after {
        left: -35px;
        top: 0;
    }
    .title-separator::before {
        right: -38px !important;
        top: 0;
    }
 }

@include media-breakpoint-down(md) { 

    .limit-h img {
        height: 50vh;
    }
 }


@include media-breakpoint-down(sm) {
    .swiper-button-next, .swiper-button-prev {
        display: none!important;
    }
}

@media (max-width:713px) {
    .slider-txt-1 {
       font-size:  calc(1.575rem + 1.9vw) !important;
    }
}
@media (max-width:500px) {
    .slider-txt-1 {
       font-size:  calc(1.575rem ) !important;
    }
}


// Page: Content
// quem somos      ----------------------------------------------------------------
// -----------------------------------------------------------------------------

.dest-quem-somos{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height:100vh;

    h1 {
        font-size: 1.8rem;
    }

    .title-separator::before{
        left: 35px;
        top: -20px;
    }

    .title-separator::after{
        right: 20px !important;
        left: unset !important;

    }

}

.missao {
    min-height:65vh;
    background-size: 50% !important;
    background-repeat: repeat;
    background-position: center;
    border-bottom: 15px solid $light ;

    h1 {
        position: relative;
        padding-left:10px;
         &::before{
            content: "";
            position: absolute;
            width: 3px;
            height: 35px;
            background-color: #EF453E;
            transform: rotate(-10deg) translate(-20px, 9px);
            transform-origin: center;
         }
    }
    
    p {position:relative;}

    .fundo-missao {
        position: absolute;
        top:0;
        right:-40px;
        width: 2000px;
        height: 100%;
        background: $secondary;
    }

}

.como-fazemos {
    .icon-como img{
        width: 130px;
    }
}

.col-roda {
    min-height: 60px;
}

.animation-roda {
    position: relative;
    width: 440px;
    margin: 0 auto;
    transform: scale(.85) translate(20px, -23px);


  .fora {
    position: relative;
    width: 440px;
      background-color:lime ;
      animation: aboutWheelSpin infinite 15s linear;
      animation-fill-mode: forwards;
  }

  .whell{
    position: absolute;
      top: 0;
      left: -23px;
      right: 0;
      bottom: 87px;
      margin: auto;
      width: 420px;
      height: 380px; 
  }


.txt-centro {
    position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 97px;
      height: 40px;
      font-size: 1.8rem;
      font-weight: bold;
      color: $light;
    }
  
  .product{
    position: absolute;
    color: white;
    font-size: 16px;
  }
  .product[data-num="1"] {
      left: 28px;
      top: 309px;
          animation: aboutWheelSpin infinite 15s linear;
      animation-fill-mode: forwards;
      animation-direction: reverse;
  
  }
  
  .product[data-num="2"] {
  left: 172px;
      top: 56px;
          animation: aboutWheelSpin infinite 15s linear;
      animation-fill-mode: forwards;
      animation-direction: reverse;
  
  }
  
  .product[data-num="3"] {
      left: 351px;
      top: 306px;
          animation: aboutWheelSpin infinite 15s linear;
      animation-fill-mode: forwards;
      animation-direction: reverse;
  
  }

}
  
  @keyframes aboutWheelSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .dr-emidio {
    padding-top: 180px !important;
    clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 100%);

    h1 {
        position: relative;
        padding-left:10px;
         &::before{
            content: "";
            position: absolute;
            width: 3px;
            height: 35px;
            background-color: #EF453E;
            transform: rotate(-10deg) translate(-20px, 9px);
            transform-origin: center;
         }
    }

    .emidio-img::before {
        content: "";
        width: 40%;
        height: 10px;
        background-color: #EF453E;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

    }

  }




@media (max-width:1200px) {
    .animation-roda {
        transform: scale(.85) translate(20px, -23px);
    }
}
@media (max-width:960px) {
    .animation-roda {
        transform: scale(0.75) translate(20px, 11px);
    }
    .missao {
        background-size: 70% !important;
        background-position: bottom;
    }
}
@media (max-width:768px) {


    .col-roda {
        min-height: 370px;
        padding-top: 180px;
    }  
    .missao {
        background-size: 80% !important;
        background-position: bottom;
    }
}
@media (max-width:450px) {
    .animation-roda {
        transform: scale(0.75) translate(-48px, 11px);
    }
}
@media (max-width:350px) {
    .animation-roda {
        transform: scale(0.75) translate(-90px, 11px);
    }
}


@media (min-width:1200px) {
    .animation-roda {
        transform: scale(1.1) translate(20px, -23px);
    }

}



// Page: Content
// soluções      ----------------------------------------------------------------
// -----------------------------------------------------------------------------

.page-node-16 {
    background: url('/sites/default/files/2021-09/pattern_fundo_branco%402x.png');
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 60%;
    .navbar {
        background-color: $dark;

    }
}



.solucoes  {
    padding-bottom: 140px !important;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 90%);
    padding-top: 240px!important;

    .items-sol{
        cursor: pointer;
        clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 96%);
        padding-bottom:75px !important;

        &:hover {
            background-color: $white;
        }
        &:hover p {
           color: $dark !important;
        }
        &:hover .sd-icon-sol {
            display: block;
         }



    } 
    
    .sd-icon-sol {
        display: none;
        position: absolute;
        transform: translate(25px,10px);
        left: 0;
        right: 0;
        margin: auto;
        bottom: 45px;
        width: 50px;
        height: 28px;

        background: url("data:image/svg+xml,%3Csvg width='50px' height='28px' viewBox='0 0 50 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD' transform='translate(-615.000000, -788.000000)' fill='%23EF453E'%3E%3Cg id='scrollDown' transform='translate(588.000000, 788.000000)'%3E%3Cpolygon id='scrolldown-bt' points='72.6230798 0 51.9337149 25.6021772 31.24435 0 27 0 49.8111892 27.8095759 54.0555392 27.8095759 77 0'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    }

}

.produtos {
    .sol-card{
        border-width: 3px!important;
    } 
    .fundo-pad-sol {
        background-color: #F4F4F5;
        color: #F4F4F5;
        clip-path: polygon(100% 10%, 0% 0%, 0% 100%, 100% 100%);
        width: 100%;
        height: 50vh;
        position: absolute;
        left: 0;
        top: 25%;
    }
    .fundo-pad-sol1 {
        background-color: #F4F4F5;
        color: #F4F4F5;
        clip-path: polygon(100% 10%, 0% 0%, 0% 100%, 100% 100%);
        width: 100%;
        height: 50vh;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}


// Page: Content
// TEMPLATE PRODUTOS      ----------------------------------------------------------------
// -----------------------------------------------------------------------------

// ALTERAR A NAV APENAS EM ALGUMAS PAAGINAS
.page-node-17, .page-node-18, .page-node-19 {
    .nav a {
        font-weight: 600;
        color: $dark !important;
    }

    .title-separator {
        position: relative;
        &::after{
          content: "";
          position: absolute;
          width: 3px;
          height: 35px;
          background-color: $primary;
          transform: rotate(-10deg) translate(40px, 7px);
          transform-origin: center;
          left: -55px !important;
          top: 10px !important;
          
        }
        &::before{
          content: "";
          position: absolute;
          width: 3px;
          height: 35px;
          background-color: $primary;
          transform: rotate(30deg) translate(-40px,24px);
          transform-origin: center;
          right: -55px !important;
          top: 10px!important;
        }
      }

}

.laundry-page {

    .logo-product img {
        padding-top: 100px;
        max-width: 400px;

    }

}

.laundry-des {

    .saco-ids {
        max-width: 200px;
    }
    .icons-option {
        max-width: 380px;
    }

    padding-bottom: 140px;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 90%);

}

.dest-contact {
    padding-top: 140px !important;
    clip-path: polygon(100% 0%, 0% 30%, 0% 100%, 100% 100%);
}

.dryseat-ids {
    max-width: 500px;
}



.uv-robot-page {
    .logo-product img {
        padding-top: 100px;
        max-width: 400px;
    }
    video {
        max-width: 800px;
        
    }
    
}

@media (max-width:992px) {
    .page-node-17, .page-node-18, .page-node-19 {
        .nav a {
            font-weight: 600;
            color: $white !important;
        }
    }

    .options-sizes {
        width: 140%;
    }

}
@media (max-width:768px) {
    .wrapper-opt {
        width: 100% !important;
    }
    .options-sizes {
        margin:auto ;
        width: 70% !important;;
    }
    .saco-ids {
        max-width: 150px !important;;
    }
    .icons-option {
        max-width: 300px !important;
        position: relative;
        bottom: 40px;
    }

}

@media (max-width:450px) {

    .icons-option {
        bottom: 80px;
    }
    .saco-ids {
        position: relative;
        bottom: 20px;
        max-width: 200px;
    }

}




// Page: Content
// TEMPLATE politica de privacidade
// ----------------------------------------------------------------
// -----------------------------------------------------------------------------



.slider-politica {


    .swiper-container {
        position: fixed !important;
    }
}


.sec-politica {
    padding-bottom: 4rem;
    margin-bottom: 15rem;
        .group-txt-pol{
            // column-count: 2;

            p {
                font-size: 15px;
            }
        }

}
