// Page: Header
// -----------------------------------------------------------------------------
.navbar {

    position: absolute;
    top: 0;
    width: 100%;
    min-height: 80px;
    background-color: transparent;


    .navbar-brand img {
        width: 80%;
        height: auto;
    }

    .navbar-nav .nav-item:last-child {

        .nav-link {
            margin-right:0;
            padding-right: 0;
        }
  
    } 

    .navbar-nav .nav-link   {
        position: relative;
        font-weight: 500;
        font-size: rem(18); // or rem(18px)
        color: $white;
        margin-right: 15px;
        transition: all .175s ease-out;
        border-top: 2px solid transparent;


        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100%;
             transform: scaleX(0);
            // transform-origin: right 0;
            // transition-delay: .3s;
            // transition: all .175s ease-out;
            left: 0;
            background-color: $primary;

            animation: menu-out .175s  ease-in forwards;

        }
        &:active, &:focus {
            color: $white;
        }
        &:hover {
         color: $primary !important;
        }


        &:hover::after{
            // transform: scaleX(1);
            // transform-origin: left 0;
            animation: menu-in .175s ease-out forwards;

        }
        &.is-active{
         color: $primary !important;
         pointer-events: none;
         
        }
        &.is-active:after{
            transform: scaleX(1)!important;
           }

    }

    .js-form-item input {
        display: none;
    } 

    .navbar-toggler {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

.nav-back-color {
    background-color: $dark !important;
}

@keyframes menu-in {
    from {
        transform: scaleX(0);
        transform-origin: left 0;
    }
    to {
        transform: scaleX(1);
        transform-origin: left 0;
     }
}
@keyframes menu-out {
    from {
        transform: scaleX(1);
        transform-origin: right 0;
    }
    to {
        transform: scaleX(0);
        transform-origin: right 0;
     }
}


.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: $primary;

}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger--spin.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(225deg);
}

.hamburger--spin.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out,opacity .1s ease-out .12s;
    opacity: 0;
}
.hamburger--spin.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
}

.hamburger--spin .hamburger-inner:before {
    transition: top .1s ease-in .25s,opacity .1s ease-in;
}

.main-content {
    position: relative;
    top: -17px;
}

//  SLIDER HOME

.slider-home {
    top: -2px;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    // causava o salto no iphone, quando sai o menu de baixo.
    // height: calc(var(--vh, 1vh) * 100);
    h4 {
    padding-left: 53px;
    }
}

.slider-txt-1 {
    border-left: 10px solid $primary;
    padding-left: 40px;
}

.scroll-down {
    position: absolute;
    //top: calc(100vh - 70px);
    top: calc(var(--alt-hack) - 30px);
    z-index: 10000;
    border: none;
    background: transparent;
    color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    width: 127px;
}

.sd-icon {
    position: absolute;
    width: 50px;
    height: 28px;
    right: 40px;
    bottom: 35px;
    background: url("data:image/svg+xml,%3Csvg width='50px' height='28px' viewBox='0 0 50 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD' transform='translate(-615.000000, -788.000000)' fill='%23EF453E'%3E%3Cg id='scrollDown' transform='translate(588.000000, 788.000000)'%3E%3Cpolygon id='scrolldown-bt' points='72.6230798 0 51.9337149 25.6021772 31.24435 0 27 0 49.8111892 27.8095759 54.0555392 27.8095759 77 0'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}


    @include media-breakpoint-down(md) {
        .navbar-nav {
            align-items: flex-start;
            padding: 30px 0;
        }
        .marcacoesnav {
            padding-bottom: 60px;
        }

    }

@media screen and (max-width: 600px) {  
    .navbar-brand img {
        width: 80% !important;
        height: auto;

    }
    .navbar-toggler {
        right: 0px !important;
        padding-right: 7px;
    }
}

@media screen and (max-width: 440px) { 
    .navbar-brand img {
        width: 30% !important;
        height: auto;
    } 
    .page-node-17, .page-node-18, .page-node-19 {
        .navbar-brand img {
            width: 70% !important;
            height: auto;
        } 
    }
    .block--gmlifetheme-branding {
        width: 75%;
    }
}




